/* فونت و تنظیمات کلی */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#050510;
    color:white;
    min-height:100vh;
    overflow-x:hidden;
}

/* پس‌زمینه گرادیانی نئونی */
.bg{
    position:fixed;
    inset:0;
    background:
    radial-gradient(circle at top,#7b2ff7 0%,transparent 35%),
    radial-gradient(circle at bottom,#00e5ff 0%,transparent 35%),
    #050510;
    z-index:-1;
}

/* هدر */
header{
    text-align:center;
    padding:50px 20px;
}

header h1{
    font-size:50px;
    color:#00e5ff;
    text-shadow:0 0 10px #00e5ff,
                0 0 30px #00e5ff;
}

header p{
    margin-top:15px;
    color:#ddd;
}

/* منو */
nav{
    margin-top:35px;
}

nav a{
    text-decoration:none;
    color:white;
    margin:10px;
    padding:12px 28px;
    border:2px solid #00e5ff;
    border-radius:30px;
    transition:.3s;
    display:inline-block;
}

nav a:hover{
    background:#00e5ff;
    color:black;
    box-shadow:0 0 20px #00e5ff;
}

/* بخش اصلی */
.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h2{
    font-size:40px;
    margin-bottom:20px;
}

.hero p{
    max-width:650px;
    margin:auto;
    line-height:1.8;
    color:#ccc;
}

button{
    margin-top:35px;
    padding:16px 40px;
    border:none;
    border-radius:40px;
    background:#7b2ff7;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 0 20px #7b2ff7;
}

button:hover{
    transform:scale(1.08);
    box-shadow:0 0 35px #7b2ff7;
}

/* موبایل */
@media(max-width:768px){

header h1{
    font-size:34px;
}

.hero h2{
    font-size:28px;
}

nav a{
    display:block;
    margin:12px auto;
    width:220px;
}

button{
    width:220px;
}

}
.game-card{
    max-width:450px;
    margin:25px auto;
    padding:25px;
    border:2px solid #00e5ff;
    border-radius:20px;
    background:rgba(255,255,255,0.05);
    box-shadow:0 0 20px rgba(0,229,255,.3);
    text-align:center;
}

.game-card h2{
    margin-bottom:10px;
}

.game-card p{
    margin-bottom:20px;
    color:#ccc;
}
